/*
Todo: I'll probably switch this to rainbow-sprinkles, pending...
https://github.com/wayfair/rainbow-sprinkles/issues/148
*/

.main,
.footer {
	color: var(--color-foreground);
	max-width: 50rem;
	padding: 0 2.5rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: clamp(3.5rem, 7.5vw, 10rem) auto 0;
}

.h1 {
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		to bottom,
		var(--color-bold-top),
		var(--color-bold-bottom) 50%
	);
	background-clip: text;
	font-size: var(--font-size-hero);
	font-weight: var(--font-weight-hero);
	text-align: center;
	line-height: 0.75;
	padding-bottom: 1.5rem;
}

.p {
	font-size: var(--font-size-large);
	text-align: center;
	margin-top: 0.5rem;
}

.footer {
	color: var(--color-bold-bottom);
	margin: clamp(2.5rem, 5vw, 5rem) auto 2.5rem;
	text-align: center;
}
