.anchor {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--color-bold-behind);
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
}
