.estimates {
	border-spacing: 0 1.5rem;
	margin-top: 1.5rem;
	width: 100%;
}

.p {
	text-align: center;
}

.error {
	max-height: 35rem;
	max-width: 50rem;
	border: 1px solid var(--color-foreground);
	padding: 1rem;
	overflow: auto;
}
