.resultsContainer {
	margin: clamp(1rem, 10vw, 5rem) var(--spacing-main-area) 0;
	max-width: var(--width-main-area);
	width: 100%;
}

.h3 {
	font-size: var(--font-size-large);
	margin: 1rem;
	text-align: center;
}
