.estimates {
	border-spacing: 0 1.5rem;
	margin-top: 1.5rem;
	width: 100%;
}

.th {
	font-weight: normal;
	font-style: italic;
}

.th:first-of-type {
	text-align: left;
}

.th:not(.th:first-of-type) {
	text-align: center;
}

.p {
	text-align: center;
}

.error {
	max-height: 35rem;
	max-width: 50rem;
	border: 1px solid var(--color-foreground);
	padding: 1rem;
	overflow: auto;
}
