.th {
	font-weight: normal;
	font-style: italic;
	border-bottom: 0.5px solid var(--color-foreground);
	padding-bottom: 1rem;
}

.th:first-of-type {
	text-align: left;
}

.th:not(.th:first-of-type) {
	text-align: center;
}

.buttonContainer {
	font-family: inherit;
	font-weight: normal;
	font-style: italic;
	font-size: medium;
	background-color: transparent;
	border-width: 0;
	color: var(--color-foreground);
	cursor: pointer;
}
.buttonContainer:hover {
	color: white;
}

.sortWidget {
	font-style: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	transition: transform 0.25s ease-out;
}

.isActive {
	background-color: rgb(36, 89, 101);
}

.isDescending {
	display: block;
	transform: rotate(180deg);
	color: pink;
}
